<!DOCTYPE html>
<html lang="en">

<head>
    <title>Star Wars Api War</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="static/jquery.js" defer></script>
    <script src="{{ url_for ('static', filename='app.js')}}" defer></script>
</head>

<body>
    <div id="container">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid navbar-left">
                <h3 class="navbar-text">Star Wars Planet Universe</h3>
                <p class="navbar-text">{{ error }}</p>
                <p class="navbar-text">{{ reg_message }}</p>
                <div class="navbar-header navbar-right">
                    {% if not session['user'] %}
                    <form action="/login" method="POST" class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" name="log_username" required placeholder="Username" class="span3">
                            <input type="password" name="log_psw" required placeholder="Password">
                            <button type="submit" id="login">
                                <span class="glyphicon glyphicon-log-in"></span> Log In
                            </button>
                        </div>
                    </form>
                </div>
                {% else %}
                <form action="/logout" class="navbar-form">
                    <p>{{ welcome }}</p>
                    <div class="form-group">
                        <input type="submit" value="logout">
                    </div>
                </form>
                {% endif %}
                <form action="/sign_in" method="POST" class="navbar-form navbar-left">
                    <button type="submit" id="sign_in" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-user"></span> Sign up
                    </button>
                </form>
            </div>
        </nav>
        <div id="buttons">
        </div>
        <table class="table table-striped">
            <tr id="columns">
                <th>Name</th>
                <th>Diameter in kilometer</th>
                <th>Climate</th>
                <th>Terrain</th>
                <th>Surface water percantage</th>
                <th>Population in formatted way</th>
                <th>Residents</th>
            </tr>
            <tbody class="myTable">
            </tbody>
        </table>
        <div id="overlay">
            <div id="modalContent">
                <a href='#' onclick='overlay()' class="close" aria-label="Close"> X </a>
                <table id="modalTable" class="table">
                    <tr id="modalColumns">
                        <th>Name</th>
                        <th>Height(in meters)</th>
                        <th>Mass (in kg)</th>
                        <th>Skin color</th>
                        <th>Hair color</th>
                        <th>Eye color</th>
                        <th>Birth year</th>
                        <th> Gender </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>

</html>